.cursorInner {
  position: fixed;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out, transform 0.25s ease-in-out;
}
.cursorOuter {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  width: 8px;
  height: 8px;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}
